.recommended-friends {
  margin: 25px 0px;
  padding: 25px 0px;
  border-top: var(--main-border);
  border-bottom: var(--main-border);
}
.recommended-friends__title {
  font-size: 20px;
  color: var(--gray-text-color);
}
.recommended-friends span {
  margin: 110px 0px;
  display: block;
  text-align: center;
  font-size: 18px;
  color: var(--gray-text-color);
}

.open-chat__header {
  display: flex;
  justify-content: space-between;
  color: var(--gray-text-color);
  margin-bottom: 25px;
}

.open-chat__header span {
  opacity: 0.6;
}

.open-post {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 20px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.08);
  margin-bottom: 20px;
}

.open-post__title {
  font-weight: 600;
  margin-bottom: 10px;
}

.open-post__hashtags {
  text-transform: uppercase;
  color: var(--gray-text-color);
}

.open-post__members {
  display: flex;
  align-items: center;
  color: var(--gray-text-color);
  margin-top: 7px;
}

.open-post__members img {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  margin-right: 5px;
}

.open-post__members-count {
  font-size: 14px;
}

.open-post__members .divider {
  width: 1.5px;
  height: 15px;
  margin: 0px 5px;
  background-color: var(--gray-text-color);
}

.open-post__members-status {
  color: #ff6bc4;
}

.open-post__photo {
  position: relative;
}

.open-post__photo img {
  width: 120px;
  height: 120px;
  border-radius: 10px;
}

.open-post__heart-count {
  background-color: rgba(0, 0, 0, 0.4);
  color: white;
  padding: 5px 8px;
  border-radius: 12px;
  display: flex;
  align-items: center;
  position: absolute;
  bottom: 12px;
  right: 10px;
  font-size: 12px;
}

.open-post__heart-count span {
  margin-left: 3px;
}

@keyframes heartBeat {
  0% {
    color: white;
    transform: none;
  }
  50% {
    color: tomato;
    transform: scale(1.5);
  }
  100% {
    color: white;
    transform: none;
  }
}

.open-post__heart-count:hover .fa-heart {
  will-change: transform;
  animation: heartBeat 2s linear infinite;
}

@keyframes hideSplashScreen {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
    visibility: hidden;
  }
}

#splash-screen {
  background-color: var(--yellow);
  position: absolute;
  height: 100vh;
  width: 100vw;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 96px;
  animation: hideSplashScreen 0.4s ease-in-out forwards;
  animation-delay: 1s;
}
